<ion-modal-view>
    <ion-pane>
	      <ion-header-bar class="bar-stable" id="header">
	          <button class="button icon-right ion-android-arrow-back" ng-click="closeInfos()"></button>
	      </ion-header-bar>
		
	      <ion-content>
			<div class="list card">

			  <div class="item item-avatar">
			    <img src="img/profil.jpg">
			    <h2>Alexandre Cibot</h2>
			    <p>Web Developper</p>
			  </div>

			  <div class="item item-body">
			    <img class="full-image" src="img/baniere.jpg">
			    <p>
			      Hello ! <br>
			      Pistache todo's est ma premiere application mobile, ne soyez pas trop vilains ! <br>
			      C'est une expérimentation au développement mobile Hybride : Android et IOS grâce aux frameworks Cordova et Ionic <br>
			 
			      <br>

			      <b>L'intêret de Pistache todo's ? </b>
			      <br>
			      M'entrainer en créant une application de gestion de mémos.
			      L'application est en cours de développement, plusieurs fonctionnalités vont aparaitrent, notament la suppression unique de mémo ( ce qui est vraiment indispensable :P)

			    </p>
			    <p>
			    	<span class="ion-paper-airplane"></span>
			      <span class="subdued">alexandre.cibot@hetic.net</span>
			    </p>
			  </div>
			</div>
		</ion-content>
	</ion-pane>		
</ion-modal-view>
