<ion-modal-view>
    <ion-pane>
	      <ion-header-bar class="bar-stable" id="header">
	          <button class="button icon-right ion-android-arrow-back" ng-click="closeModal()"></button>
	      </ion-header-bar>
		<ion-content>
			<div class="card">
			  <textarea class="item item-divider" id="currentTodo-title" ng-model="currentTodo.title">
			  </textarea>
			  <div class="item item-text-wrap description" >
				<textarea class="text-description" ng-model="currentTodo.description">
				</textarea>

			</div><!-- End of card-->
		</ion-content>
	</ion-pane>		
</ion-modal-view>
