<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>Todo list</title>
    ><!-- Font for the H1-->
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
  </head>
  <body ng-app="starter" ng-controller="listCtrl">

    <ion-pane>
      <ion-header-bar class="bar" id="header">
          <h1>Pistache's todos</h1>
            <span class="icon-right ion-ios-help-outline" ng-click="showInfos()"></span>
          
      </ion-header-bar>
      <!--TodoList-->
      <div ng-if="showTodolist">
        <ion-content>
          <div ng-if="list.length == 0">
            <div class="starter">
              <p> 
                <b><span class="greating">Bienvenue !</span></b>
                <br><br>
                Clique sur <span style="color:#444;" class="ion-plus-round"></span> pour ajouter une tâche.
              </p>
            </div>
          </div>

          <!--There is a card-->
          <div class="card" ng-repeat='todo in list track by $index'>
            <div class="item item-text-wrap">
              <div class="row">
                <div class="col col-90"  ng-click="openModal($index)">{{todo.title}}</div>
                <div style="text-align:right;" class="col col-10" ng-if="deleting_mode">
                     <span class="deleting-icon ion-close-round" ng-click='removeSingleTodo($index)'></span>
                </div>
              </div>
            </div>
          </div>
          <!-- End of the card-->
        </ion-content>
      </div>
      <!-- End of TodoList -->
      <!-- SPECIFICAL PART OF ONE SINGLE TODO. It will be displayed when the user click on the title -->
      <!-- The code Below seems to be useless now-->
     <!-- <ion-content ng-if="showSpecificalTodo">
        <div class="card">
          <div class="item item-text-wrap">
            {{todo.title}} 
            <textarea ng-model="description">{{todo.description}}</textarea>
            <button>Valider</button>
          </div>
        </div>
      </ion-content>-->
      <!-- END OF SPECIFICAL PART OF ONE SINGLE TODO -->
      <!--Footer-->
        <ion-footer-bar id="footer">
            <button style="font-size: 30px;"class="button ion-plus-round" ng-click="addTodo()"></button>
            <button style="font-size: 30px;" class="button ion-trash-a" ng-if="!deleting_mode" ng-click="removeTodos()"></button>
              <button style="font-size: 30px;" class="button ion-android-done" ng-if="deleting_mode" ng-click="removeTodos()"></button>
        </ion-footer-bar>
    </ion-pane>
  </body>
</html>